<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.salescoach.callcap</string>
  <key>CFBundleName</key>
  <string>callcap</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Sales Coach records your side of sales calls to transcribe and coach them on this Mac.</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>Sales Coach records the other side of sales calls to transcribe and coach them on this Mac.</string>
</dict>
</plist>
